{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <h1>Modifier l'utilisateur n°{{ user.id }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form, { 'method': 'POST' }) }}
        {{ form_widget(form) }}
        <button type="submit">Enregistrer</button>
        <a href="{{ path('ex07_index') }}" class="btn btn-secondary" style="margin-left: 10px;">Annuler</a>
    {{ form_end(form) }}
{% endblock %}