{% extends 'base.html.twig' %}

{% block title %}Hello Ex02Controller!{% endblock %}

{% block body %}
<h1>Ex02 - SQL</h1>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">{{ message }}</div>
    {% endfor %}
{% endfor %}

{{ form_start(form, { 'action': path('ex02_insert_user'), 'method': 'POST' }) }}
    {{ form_widget(form) }}
    <button type="submit">Insérer</button>
{{ form_end(form) }}


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Pseudo</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Enable</th>
            <th>Date de naissance</th>
            <th>Adresse</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.enable ? 'Oui' : 'Non' }}</td>
                <td>{{ user.birthdate|date('Y-m-d') }}</td>
                <td>{{ user.address }}</td>
            </tr>
        {% else %}
            <tr><td colspan="7">Aucun utilisateur.</td></tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
